.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: fit-content;
    min-height: 100vh;
    min-width: $min-resolution;
    background-color: $background-color;
    color: $primary-text;
}

.error-page__title {
    font-size: 200px;
    line-height: 200px;
}

.error-page__description {
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
}

.error-page__button {
    display: flex; //TODO: refactor
    align-items: center;
}