.main-page {
    display: flex;
    max-height: fit-content;
    min-height: 100vh;
    min-width: $min-resolution;
    background-color: $background-color;
}

.main-page__container {
    width: 100%;

    @media (max-width: $mobile-break) {
        margin-left: 64px;
    }
}
