@font-face {
    font-family: 'Jost';
    src: url('../assets/fonts/Jost-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: url('../assets/fonts/Jost-SemiBold.ttf') format('truetype');        
    font-weight: 600;
    font-style: normal;
}