@media print {
    @page { 
        margin: 1cm; 
    }

    * {
        color: black !important; 
    }

    .item,
    .button,
    .info-plate {
        border: 1px solid black !important;
    }

    .item_completed {
        text-decoration-color: black !important;
    }

    .side-bar,
    .header__button,
    .profile__exit {
        display: none !important;
    }

    .header {
        border-bottom: 1px solid black !important;
    }
}
