/* Default theme - Dark */
:root {
    --button:             #6F6EFF;
    --primary-text:       #FFFFFF;
    --secondary-text:     #FFFFFF80;
    --background-color:   #30313F;
    --header-background:  #30313F;
    --sidebar-background: #323444;
    --gray-border:        #D8D8D81A;
    --item-background:    #3A3B47;
    --violet:             #6F6EFF;
    --point-hover:        #373949;
    --popup-background:   #2d3638;
}

/* Light theme */
.light {
    --button:             #1E79BE;
    --primary-text:       #000000;
    --secondary-text:     #00000080;
    --background-color:   #F0F0F0;
    --header-background:  #F0F0F0;
    --sidebar-background: #FFFFFF;
    --gray-border:        #DADADA;
    --item-background:    #FFFFFF;
    --violet:             #1E79BE;
    --point-hover:        #E3E6E8;
    --popup-background:   #E9E9E9;
}

/* Breakpoints */
$min-resolution:            414px;
$between-min-mobile:        508px;
$mobile-break:              768px;
$between-mobile-tablet:     1000px;
$tablet-break:              1200px;

/* Colors */
$white:                   #FFFFFF;
$violet:                  var(--violet);
$green:                   #24CB8D;
$pale-green:              #24CB8D75;
$green-secondary:         #66bb6a;
$orange:                  #FF4738;
$pale-orange:             #FF473875;
$red:                     #FF0000;
$error-color:             #FF0000;

$primary-text:              var(--primary-text);
$secondary-text:            var(--secondary-text);

$button:                    var(--button);
$tablet-button:           #081B1F;

$side-bar-color:            var(--sidebar-background);
$header-background:         var(--header-background);
$background-color:          var(--background-color);
$item-background:           var(--item-background);
$popup-background:          var(--popup-background);
$popup-blur:              rgba(94, 110, 141, 0.9);

$point-hover:               var(--point-hover);
$gray-border:               var(--gray-border);

$gray-box-shadow:         #0000003D 0px 3px 8px;
