.alert-modal {
    position: fixed;
    padding-bottom: 20px;
    display: flex;
    bottom: -10%;
    right: 10%;
    max-width: 450px;
    visibility: hidden;
    flex-direction: column;
    z-index: 4;
    font-size: 20px;
    text-align: center;
    color: $primary-text;
    background-color: $popup-background;
    border-radius: 10px;
    box-shadow: $gray-box-shadow;
    transition: bottom 0.3s ease-in;
}

.alert-modal_bottom-animation {
    bottom: 10%;
    transition: bottom 0.3s ease-in;
}

.alert-modal_is-visible {
    visibility: visible;
}

.alert-modal__header {
    padding: 10px 20px 0px 20px;
    margin-bottom: 15px; 
}

.alert-modal__title {
    font-size: 32px;
    line-height: initial;
}

.alert-modal__content {
    margin-bottom: 20px;
    padding: 0px 20px;
    text-align: center;
}

.alert-modal__close {
    cursor: pointer;
}