.button {
    padding: 4px 12px;
    height: 36px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button_primary {
    font-size: 16px;
    line-height: 22px;
    color: $white;
    background: $button;
}

.button_secondary {
    font-size: 16px;
    line-height: 22px;
    color: $primary-text;
    background: transparent;
    border: solid $button;
}

.button_small {
    height: 26px;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 18px;
    width: fit-content;
}

.button_tablet {
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: $tablet-button;
}

.button_disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
