.filters {
    @include primary-text;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $primary-text;
}

.filters__filter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filters__descr {
    margin-right: 15px;
}

.filters__option {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    &:not(:last-child) {
        margin-right: 10px;
    }

    &:hover {
        cursor: pointer;
        background-color: $point-hover;
    }
}

.filters__option_checked {
    border: 1px solid $violet;
    background-color: $point-hover;
}

.filters__option-icon {
    width: 16px;
    height: 16px;
    fill: $primary-text;
    stroke: $primary-text;
    pointer-events: none;
}

.filters__option-icon_reversed {
    transform: rotate(180deg);
}