.form__title {
    margin-bottom: 30px;
    font-size: 44px;
    line-height: 44px;
}

.form__group {
    margin-bottom: 15px;
}

.form__label {
    display: flex;
    flex-direction: column;   
    font-size: 20px;
}

.form__label_required {
    .form__label-name {
        &::after {
            color: $red;
            content: "*";
        }
    }
}

.form__error {
    min-height: 20px;
    height: auto;
    color: $error-color;
}

.form__error_shake {
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

.form__input {
    margin-bottom: 3px;
    padding: 3px;
    font-size: 19px;
}

.form__input_small {
    width: 150px;
}

.form__input_textarea {
    min-width: 415px;
    min-height: 100px;
    padding: 3px;
    font-size: 19px;

    @media (max-width: $mobile-break) {
        min-width: 250px;
    }
}

input[type="password"] {
    font:small-caption;
    font-size:16px
}