.full-info-item__title {
    margin-bottom: 30px;
    font-size: 44px;
    line-height: 44px;
}

.full-info-item__group {
    display: flex;
    margin-bottom: 15px;
    font-size: 20px;
}

.full-info-item__subtitle {
    margin-right: 5px;
    margin-bottom: 5px;
    font-weight: 600;
}

.full-info-item__group_column {
    flex-direction: column;
}

.full-info-item__status_completed {
    color: $green;
}

.full-info-item__status_deleted {
    color: $red;
}

.full-info-item__priority_high {
    color: $red;
}
