.header {
    padding-left: 55px;
    padding-right: 45px;
    position: sticky;
    top: 0px;
    z-index: 2;
    width: 100%;
    height: 82px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: $header-background;
    border-bottom: 1px solid $gray-border;

    @media (max-width: $tablet-break) {
        padding-left: 35px;
        padding-right: 35px;
    }

    @media (max-width: $mobile-break) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.header__profile {
    .button_secondary {
        margin-right: 10px; //TODO
    }
}
