.info-plate {
    @include secondary-text;
    padding: 4px 5px 4px 6px;
    color: $white;
    border-radius: 4px;
}

.info-plate_active {
    background: $violet;

    &::after{
        content: "active";
    }
}

.info-plate_completed {
    background: $green;

    &::after{
        content: 'completed';
    }
}

.info-plate_deleted {
    background: $orange;

    &::after{
        content: 'deleted';
    }
}