.item {
    margin-bottom: 10px;
    padding-top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: $item-background;
    border-radius: 6px;

    &:hover {
        box-shadow: $gray-box-shadow;

        .item__action {
            top: 50%;
        }     
    }
}

.item_deleted {
    background-color: $pale-orange;

    .item__action_restore {
        display: flex;
        right: 15px;
    }

    .item__action_complete {
        display: none;
    }
}

.item_completed {
    text-decoration: line-through;
    text-decoration-color: $primary-text;
    background-color: $pale-green;

    .item__action_complete {
        display: none;
    }

    .item__action_restore{
        display: flex;
    }
}

.item__type {
    position: absolute;
    top: 15px;
    right: 7px;
}

.item__title {
    @include primary-text;
    padding: 0px 15px;
    margin-bottom: 10px;
}

.item__description {
    @include secondary-text;
    flex-grow: 1;
    padding: 0px 15px 15px 15px;
    border-bottom: 1px solid $gray-border;
}

.item__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.item__date {
    @include primary-text;
}

.item__action {
    position: absolute;
    top: -20px;
    right: 15px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.5;
    transition: top 0.3s ease-in;

    &:hover {
        opacity: 1;
    }

    @media (max-width: $tablet-break) {
        top: 50%;
    }
}

.item__action_delete {
    right: 52px;
    background-color: $red;
}
  
.item__action_complete {
    background-color: $green-secondary;
}
  
.item__action_restore {
    display: none;
    background-color: #80deea; 
}


.item__action-icon{
    width: 30px;
    height: 20px;
    fill: $white;
    pointer-events: none;
}
