.items {
    margin-bottom: 30px;
    min-width: 0;
    width: 100%;
    display: grid;
    grid-gap: 11px;
    grid-template-columns: repeat(auto-fill, minmax(201px, 1fr));
}

.items__warning {
    grid-column:  1 / 4;
    color: $primary-text;
    font-size: 25px;
}