.menu-point {
    @include primary-text;
    padding: 10px 30px 10px 27px;
    border-left: 3px solid transparent;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
}

.menu-point_active {
    border-left-color: $violet;
    background-color: $point-hover;
    color: $green;
}
