.popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

    background-color: $popup-blur;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
    
    overflow-y: auto;
    z-index: 4;
}

.popup_is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}


.popup__body {
    position:relative;
    margin-left: 20px;
    margin-right: 20px;
    padding: 40px;
    width: 500px;
    display: flex;
    flex-direction: column;
    color: $primary-text;
    background-color: $popup-background;
    border-radius: 10px;
    box-shadow: $gray-box-shadow;
    
    @media (max-width: $mobile-break) {
        width: 300px;
    }
}

.popup__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background:none;
    border: none;
    cursor: pointer;
}

.popup__close-btn-icon {
    width: 16px;
    height: 13px;
    fill: $primary-text;
    stroke: $primary-text;
    pointer-events: none;
}
