.profile {
    display: flex;
    align-items: center;
}

.profile__avatar {
    height: auto;
    margin-right: 13px;
}

.profile__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 15px;
}

.profile__name {
    @include primary-text;
    margin-bottom: 5px;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.profile__exit {
    align-self: flex-end;
}