.side-bar {
    position: sticky;
    top: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: $side-bar-color;
    transition: width 0.3s ease-in-out;

    @media (max-width: $mobile-break) {
        padding: 20px 8px 0px 8px;
        width: 64px;
        position: fixed;
        left: 0;
        top: 0;
    }
}

.side-bar_is-expanded { 
    width: 100vw;
    transition: width 0.3s ease-in-out;

    .side-bar__menu {
        display: flex;
    }

    .side-bar__burger-icon_cross {
        display: block;
    }

    .side-bar__burger-icon_burg {
        display: none;
    }

    .switch {
        display: inline-block;
    }

}

.side-bar__logo {
    padding: 24px 30px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $gray-border;

    @media (max-width: $mobile-break) {
        display: none;
    }
}

.side-bar__img {
    width: 40px;
    margin-right: 15px;
}

.side-bar__name {
    white-space: nowrap;
	color: $primary-text;
	font-size: 25px;
    font-weight: 600;
    line-height: 30px;
}

.side-bar__burger {
    display: none;

    @media (max-width: $mobile-break) {
        display: flex;
    }
}

.side-bar__burger-icon {
    width: 16px;
    height: 13px;
    fill: $white;
    stroke: $white;
}

.side-bar__burger-icon_cross {
    display: none;
}

.side-bar__menu {
    border-bottom: 1px solid $gray-border;

    display: flex;
    flex-direction: column;
    padding: 30px 0px 20px 0px;

    @media (max-width: $mobile-break) {
        display: none;
    }  
}
