.switch {
	margin: 35px auto;
	position: relative;
	display: inline-block;
	width: 90px;
	height: 34px;

	@media (max-width: $mobile-break) {
		display: none;
	}  
}
  
.switch-input {
    opacity: 0;
    width: 0;
    height: 0;
}

  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $side-bar-color;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    box-shadow: 0 0px 15px #2020203d;
    transition: 0.4s;
    background: white url('../assets/icons/moon_icon_125979.svg');
    background-repeat: no-repeat;
    background-position: center;
}

  
input + .slider {
    border: 1px solid $gray-border;
}
  
input:checked + .slider:before {
	transform: translateX(55px);
	background: white url('../assets/icons/sun_120349.svg');
	background-repeat: no-repeat;
	background-position: center;
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
