/*Common*/
@keyframes shake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  6.5% {
    -webkit-transform: translateX(-6px) rotateY(-9deg);
    transform: translateX(-6px) rotateY(-9deg);
  }
  18.5% {
    -webkit-transform: translateX(5px) rotateY(7deg);
    transform: translateX(5px) rotateY(7deg);
  }
  31.5% {
    -webkit-transform: translateX(-3px) rotateY(-5deg);
    transform: translateX(-3px) rotateY(-5deg);
  }
  43.5% {
    -webkit-transform: translateX(2px) rotateY(3deg);
    transform: translateX(2px) rotateY(3deg);
  }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-size: 14px;
  line-height: 20px;
  font-family: "Jost";
}

button, select, input, textarea {
  font-family: inherit;
  font-size: inherit;
}

:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}
a:focus, a:active {
  outline: none;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

.hidden {
  display: none;
}

.noscroll {
  overflow: hidden;
}

@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@media print {
  @page {
    margin: 1cm;
  }
  * {
    color: black !important;
  }
  .item,
.button,
.info-plate {
    border: 1px solid black !important;
  }
  .item_completed {
    text-decoration-color: black !important;
  }
  .side-bar,
.header__button,
.profile__exit {
    display: none !important;
  }
  .header {
    border-bottom: 1px solid black !important;
  }
}
/* Default theme - Dark */
:root {
  --button: #6F6EFF;
  --primary-text: #FFFFFF;
  --secondary-text: #FFFFFF80;
  --background-color: #30313F;
  --header-background: #30313F;
  --sidebar-background: #323444;
  --gray-border: #D8D8D81A;
  --item-background: #3A3B47;
  --violet: #6F6EFF;
  --point-hover: #373949;
  --popup-background: #2d3638;
}

/* Light theme */
.light {
  --button: #1E79BE;
  --primary-text: #000000;
  --secondary-text: #00000080;
  --background-color: #F0F0F0;
  --header-background: #F0F0F0;
  --sidebar-background: #FFFFFF;
  --gray-border: #DADADA;
  --item-background: #FFFFFF;
  --violet: #1E79BE;
  --point-hover: #E3E6E8;
  --popup-background: #E9E9E9;
}

/* Breakpoints */
/* Colors */
/*Components*/
.alert-modal {
  position: fixed;
  padding-bottom: 20px;
  display: flex;
  bottom: -10%;
  right: 10%;
  max-width: 450px;
  visibility: hidden;
  flex-direction: column;
  z-index: 4;
  font-size: 20px;
  text-align: center;
  color: var(--primary-text);
  background-color: var(--popup-background);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2392156863) 0px 3px 8px;
  transition: bottom 0.3s ease-in;
}

.alert-modal_bottom-animation {
  bottom: 10%;
  transition: bottom 0.3s ease-in;
}

.alert-modal_is-visible {
  visibility: visible;
}

.alert-modal__header {
  padding: 10px 20px 0px 20px;
  margin-bottom: 15px;
}

.alert-modal__title {
  font-size: 32px;
  line-height: initial;
}

.alert-modal__content {
  margin-bottom: 20px;
  padding: 0px 20px;
  text-align: center;
}

.alert-modal__close {
  cursor: pointer;
}

.button {
  padding: 4px 12px;
  height: 36px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button_primary {
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  background: var(--button);
}

.button_secondary {
  font-size: 16px;
  line-height: 22px;
  color: var(--primary-text);
  background: transparent;
  border: solid var(--button);
}

.button_small {
  height: 26px;
  padding: 4px 8px;
  font-size: 14px;
  line-height: 18px;
  width: fit-content;
}

.button_tablet {
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: #081B1F;
}

.button_disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.content {
  padding: 40px 55px;
}
@media (max-width: 1200px) {
  .content {
    padding: 30px 35px;
  }
}
@media (max-width: 768px) {
  .content {
    padding: 30px 15px;
  }
}

.content__warning {
  color: var(--primary-text);
  font-size: 25px;
}

.filters {
  font-size: 16px;
  line-height: 22px;
  color: var(--primary-text);
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--primary-text);
}

.filters__filter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filters__descr {
  margin-right: 15px;
}

.filters__option {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.filters__option:not(:last-child) {
  margin-right: 10px;
}
.filters__option:hover {
  cursor: pointer;
  background-color: var(--point-hover);
}

.filters__option_checked {
  border: 1px solid var(--violet);
  background-color: var(--point-hover);
}

.filters__option-icon {
  width: 16px;
  height: 16px;
  fill: var(--primary-text);
  stroke: var(--primary-text);
  pointer-events: none;
}

.filters__option-icon_reversed {
  transform: rotate(180deg);
}

.form__title {
  margin-bottom: 30px;
  font-size: 44px;
  line-height: 44px;
}

.form__group {
  margin-bottom: 15px;
}

.form__label {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.form__label_required .form__label-name::after {
  color: #FF0000;
  content: "*";
}

.form__error {
  min-height: 20px;
  height: auto;
  color: #FF0000;
}

.form__error_shake {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

.form__input {
  margin-bottom: 3px;
  padding: 3px;
  font-size: 19px;
}

.form__input_small {
  width: 150px;
}

.form__input_textarea {
  min-width: 415px;
  min-height: 100px;
  padding: 3px;
  font-size: 19px;
}
@media (max-width: 768px) {
  .form__input_textarea {
    min-width: 250px;
  }
}

input[type=password] {
  font: small-caption;
  font-size: 16px;
}

.full-info-item__title {
  margin-bottom: 30px;
  font-size: 44px;
  line-height: 44px;
}

.full-info-item__group {
  display: flex;
  margin-bottom: 15px;
  font-size: 20px;
}

.full-info-item__subtitle {
  margin-right: 5px;
  margin-bottom: 5px;
  font-weight: 600;
}

.full-info-item__group_column {
  flex-direction: column;
}

.full-info-item__status_completed {
  color: #24CB8D;
}

.full-info-item__status_deleted {
  color: #FF0000;
}

.full-info-item__priority_high {
  color: #FF0000;
}

.header {
  padding-left: 55px;
  padding-right: 45px;
  position: sticky;
  top: 0px;
  z-index: 2;
  width: 100%;
  height: 82px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--header-background);
  border-bottom: 1px solid var(--gray-border);
}
@media (max-width: 1200px) {
  .header {
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media (max-width: 768px) {
  .header {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header__profile .button_secondary {
  margin-right: 10px;
}

.info-plate {
  font-size: 14px;
  line-height: 18px;
  color: var(--secondary-text);
  padding: 4px 5px 4px 6px;
  color: #FFFFFF;
  border-radius: 4px;
}

.info-plate_active {
  background: var(--violet);
}
.info-plate_active::after {
  content: "active";
}

.info-plate_completed {
  background: #24CB8D;
}
.info-plate_completed::after {
  content: "completed";
}

.info-plate_deleted {
  background: #FF4738;
}
.info-plate_deleted::after {
  content: "deleted";
}

.item {
  margin-bottom: 10px;
  padding-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--item-background);
  border-radius: 6px;
}
.item:hover {
  box-shadow: rgba(0, 0, 0, 0.2392156863) 0px 3px 8px;
}
.item:hover .item__action {
  top: 50%;
}

.item_deleted {
  background-color: rgba(255, 71, 56, 0.4588235294);
}
.item_deleted .item__action_restore {
  display: flex;
  right: 15px;
}
.item_deleted .item__action_complete {
  display: none;
}

.item_completed {
  text-decoration: line-through;
  text-decoration-color: var(--primary-text);
  background-color: rgba(36, 203, 141, 0.4588235294);
}
.item_completed .item__action_complete {
  display: none;
}
.item_completed .item__action_restore {
  display: flex;
}

.item__type {
  position: absolute;
  top: 15px;
  right: 7px;
}

.item__title {
  font-size: 16px;
  line-height: 22px;
  color: var(--primary-text);
  padding: 0px 15px;
  margin-bottom: 10px;
}

.item__description {
  font-size: 14px;
  line-height: 18px;
  color: var(--secondary-text);
  flex-grow: 1;
  padding: 0px 15px 15px 15px;
  border-bottom: 1px solid var(--gray-border);
}

.item__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.item__date {
  font-size: 16px;
  line-height: 22px;
  color: var(--primary-text);
}

.item__action {
  position: absolute;
  top: -20px;
  right: 15px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.5;
  transition: top 0.3s ease-in;
}
.item__action:hover {
  opacity: 1;
}
@media (max-width: 1200px) {
  .item__action {
    top: 50%;
  }
}

.item__action_delete {
  right: 52px;
  background-color: #FF0000;
}

.item__action_complete {
  background-color: #66bb6a;
}

.item__action_restore {
  display: none;
  background-color: #80deea;
}

.item__action-icon {
  width: 30px;
  height: 20px;
  fill: #FFFFFF;
  pointer-events: none;
}

.items {
  margin-bottom: 30px;
  min-width: 0;
  width: 100%;
  display: grid;
  grid-gap: 11px;
  grid-template-columns: repeat(auto-fill, minmax(201px, 1fr));
}

.items__warning {
  grid-column: 1/4;
  color: var(--primary-text);
  font-size: 25px;
}

.menu-point {
  font-size: 16px;
  line-height: 22px;
  color: var(--primary-text);
  padding: 10px 30px 10px 27px;
  border-left: 3px solid transparent;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
}

.menu-point_active {
  border-left-color: var(--violet);
  background-color: var(--point-hover);
  color: #24CB8D;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(94, 110, 141, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  overflow-y: auto;
  z-index: 4;
}

.popup_is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.popup__body {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  padding: 40px;
  width: 500px;
  display: flex;
  flex-direction: column;
  color: var(--primary-text);
  background-color: var(--popup-background);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2392156863) 0px 3px 8px;
}
@media (max-width: 768px) {
  .popup__body {
    width: 300px;
  }
}

.popup__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
}

.popup__close-btn-icon {
  width: 16px;
  height: 13px;
  fill: var(--primary-text);
  stroke: var(--primary-text);
  pointer-events: none;
}

.profile {
  display: flex;
  align-items: center;
}

.profile__avatar {
  height: auto;
  margin-right: 13px;
}

.profile__info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 15px;
}

.profile__name {
  font-size: 16px;
  line-height: 22px;
  color: var(--primary-text);
  margin-bottom: 5px;
  cursor: pointer;
}
.profile__name:hover {
  text-decoration: underline;
}

.profile__exit {
  align-self: flex-end;
}

.side-bar {
  position: sticky;
  top: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--sidebar-background);
  transition: width 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .side-bar {
    padding: 20px 8px 0px 8px;
    width: 64px;
    position: fixed;
    left: 0;
    top: 0;
  }
}

.side-bar_is-expanded {
  width: 100vw;
  transition: width 0.3s ease-in-out;
}
.side-bar_is-expanded .side-bar__menu {
  display: flex;
}
.side-bar_is-expanded .side-bar__burger-icon_cross {
  display: block;
}
.side-bar_is-expanded .side-bar__burger-icon_burg {
  display: none;
}
.side-bar_is-expanded .switch {
  display: inline-block;
}

.side-bar__logo {
  padding: 24px 30px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--gray-border);
}
@media (max-width: 768px) {
  .side-bar__logo {
    display: none;
  }
}

.side-bar__img {
  width: 40px;
  margin-right: 15px;
}

.side-bar__name {
  white-space: nowrap;
  color: var(--primary-text);
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
}

.side-bar__burger {
  display: none;
}
@media (max-width: 768px) {
  .side-bar__burger {
    display: flex;
  }
}

.side-bar__burger-icon {
  width: 16px;
  height: 13px;
  fill: #FFFFFF;
  stroke: #FFFFFF;
}

.side-bar__burger-icon_cross {
  display: none;
}

.side-bar__menu {
  border-bottom: 1px solid var(--gray-border);
  display: flex;
  flex-direction: column;
  padding: 30px 0px 20px 0px;
}
@media (max-width: 768px) {
  .side-bar__menu {
    display: none;
  }
}

.switch {
  margin: 35px auto;
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}
@media (max-width: 768px) {
  .switch {
    display: none;
  }
}

.switch-input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--sidebar-background);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  box-shadow: 0 0px 15px rgba(32, 32, 32, 0.2392156863);
  transition: 0.4s;
  background: white url("../assets/icons/moon_icon_125979.svg");
  background-repeat: no-repeat;
  background-position: center;
}

input + .slider {
  border: 1px solid var(--gray-border);
}

input:checked + .slider:before {
  transform: translateX(55px);
  background: white url("../assets/icons/sun_120349.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.todo__load-more-button {
  display: flex;
  justify-content: center;
}

/*Pages*/
.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: fit-content;
  min-height: 100vh;
  min-width: 414px;
  background-color: var(--background-color);
  color: var(--primary-text);
}

.error-page__title {
  font-size: 200px;
  line-height: 200px;
}

.error-page__description {
  margin-bottom: 20px;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
}

.error-page__button {
  display: flex;
  align-items: center;
}

.main-page {
  display: flex;
  max-height: fit-content;
  min-height: 100vh;
  min-width: 414px;
  background-color: var(--background-color);
}

.main-page__container {
  width: 100%;
}
@media (max-width: 768px) {
  .main-page__container {
    margin-left: 64px;
  }
}

/*# sourceMappingURL=style.css.map */
